<main class="page__main">
  <div class="wrapper">
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quos
        rem totam quia praesentium facilis cupiditate nesciunt incidunt quod! In
        esse libero dolores itaque blanditiis vitae sit deserunt consectetur
        molestias.
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quos
        rem totam quia praesentium facilis cupiditate nesciunt incidunt quod! In
        esse libero dolores itaque blanditiis vitae sit deserunt consectetur
        molestias.
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quos
        rem totam quia praesentium facilis cupiditate nesciunt incidunt quod! In
        esse libero dolores itaque blanditiis vitae sit deserunt consectetur
        molestias.
      </p>
    </article>
  </div>
</main>
