* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  height: 400px;
  width: 80%;
}

.header {
  background-color: antiquewhite;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: lightpink;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: lightblue;
  height: 40vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: lavender;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
