<footer class="footer">
  <div class="wrapper">
    <a href="#" tittle="Brook logo">
      <img src="../assets/images/brook-logo.png" alt="Brook logo" />
    </a>

    
    <div class="first-container">
      <nav class="footer-menu">
        <h3>about us</h3>
        <ul>
          <li class="menu-items">
            <a href="#" tittle="Ir a about us">about us</a>
          </li>
          <li class="menu-items">
            <a href="#" tittle="Ir a team">team</a>
          </li>
          <li class="menu-items">
            <a href="#" tittle="Ir a career">career</a>
          </li>
          <li class="menu-items">
            <a href="#" tittle="Ir a services">services</a>
          </li>
          <li class="menu-items">
            <a href="#" tittle="Ir a contact">contact</a>
          </li>
        </ul>
      </nav>
      <p>
        <h3>contact</h3>
        <span>2005 Stokes Isle Apt. 896.</span>
        <span>anan ville 10010, USA</span>
        <span>info@yourdomain.com</span>
        <span>(+68) 120034509</span>
      </p>
      <ul class="social-network">
        <li class="social-network item">
          <a><i class="fab fa-facebook-square"></i> </a>
        </li>
        <li class="social-network item">
          <a><i class="fab fa-twitter"></i> </a>
        </li>
        <li class="social-network item">
          <a><i class="fab fa-instagram"></i></a>
        </li>
        <li class="social-network item">
          <a><i class="fab fa-dribbble"></i></a>
        </li>
        <li class="social-network item">
          <a><i class="fab fa-pinterest"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
  <div class="secondary-container">
    <nav class="menu-terciary">
      <ul>
        <li><a href="#" tittle="our blog">our blog</a></li>
        <li><a href="#" tittle="latest projects">latest projects</a></li>
        <li><a href="#" tittle="contact us">contact us</a></li>
      </ul>
    </nav>
    <span>&copy 2019 brook all rights reserved</span>
  </div>
</div>
</footer>
