<header class="header">
  <div class="wrapper">
    <a href="#" tittle="Brook logo">
      <img src="./assets/images/brook-logo.png" alt="Brook logo" />
    </a>

    <!-- <a href="#" tittle="Menu icon">
      <img src="./assets/images/menu-icon.png" alt="Menu icon" />
    </a> -->

    <nav>
      <ul class="menu">
        <li class="menu-items">
          <a href="#" tittle="Ir a sección home">home</a>
        </li>
        <li class="menu-items">
          <a href="#" tittle="Ir a sección pages">pages</a>
        </li>
        <li class="menu-items">
          <a href="#" tittle="Ir a sección portfolio">portfolio</a>
        </li>
        <li class="menu-items">
          <a href="#" tittle="Ir a sección blog">blog</a>
        </li>
        <li class="menu-items">
          <a href="#" tittle="Ir a sección contact">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
