<main class="main">
  <div class="wrapper">
    <section class="options">
      <p>what we do</p>
      <h2>
        We design & build brands, campaigns & digital projects for businesses
        large & <small class=""></small>
      </h2>
      <div class="main-container">
        <article class="article">
          <img src="./assets/images/eye-icon.jpg" alt="modern design" />
          <h3>modern design</h3>
          <p>
            Brook embraces a modern llok with various enhanced pre-defined page
            elements.
          </p>
          <div class="details"><a href="#">more details</a></div>
        </article>
        <article class="article">
          <img src="./assets/images/book-icon.jpg" alt="modern design" />
          <h3>modern design</h3>
          <p>
            Brook embraces a modern llok with various enhanced pre-defined page
            elements.
          </p>
          <div class="details"><a href="#">more details</a></div>
        </article>
        <article class="article">
          <img src="./assets/images/boxes-icon.jpg" alt="modern design" />
          <h3>modern design</h3>
          <p>
            Brook embraces a modern llok with various enhanced pre-defined page
            elements.
          </p>
          <div class="details"><a href="#">more details</a></div>
        </article>
      </div>
    </section>
  </div>
</main>
