* {
  font-family: "roboto", sans-serif;
  color: #000000;
  box-sizing: border-box;
}

.item {
  text-align: left;
  font-size: 12px;
  border: 1px solid purple;
}

/* flex */

.container {
  display: flex;
  background-color: #ffffff;
  width: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  padding: 16px;
  width: 50%;
}

.box {
  height: 100px;
  width: 100%;
  object-fit: cover;
  background-color: plum;
}

.item:last-of-type {
  width: 100%;
  order: -1;
}
