<aside class="page__aside">
  <div class="wrapper">
    <div class="left-column">
      <div class="image-container">
        <img
          src="https://via.placeholder.com/150x150.png"
          alt="retrato del autor"
        />
      </div>
      <article class="author-info">
        <h3>Author</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae quae
          inventore blanditiis deserunt.
        </p>
      </article>
    </div>
    <div class="right-column">
      <nav class="section-menu">
        <ul>
          <li>
            <a href="#" tittle="ira a sección 1">Sección 1</a>
          </li>
          <li>
            <a href="#" tittle="ira a sección 2">Sección 2</a>
          </li>
          <li>
            <a href="#" tittle="ira a sección 3">Sección 3</a>
          </li>
          <li>
            <a href="#" tittle="ira a sección 4">Sección 4</a>
          </li>
        </ul>
      </nav>
      <nav class="category-menu">
        <ul>
          <li>
            <a href="#" tittle="ira a categoría 1">Categoría 1</a>
          </li>
          <li>
            <a href="#" tittle="ira a categoría 2">Categoría 2</a>
          </li>
          <li>
            <a href="#" tittle="ira a categoría 3">Categoría 3</a>
          </li>
          <li>
            <a href="#" tittle="ira a categoría 4">Categoría 4</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
